<a href="https://colab.research.google.com/github/adiyatma1324/adiyatma_politeknik-negeri-semarang/blob/main/adiyatma_PoliteknikNegeriSemerang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUGAS 1

In [ ]:
nama_produk_1 = "Kopi Pagi"
harga_produk_1 = 18000.5
nama_produk_2 = "Roti Cokelat"
harga_produk_2 = 10000
status_ketersediaan_roti = True

print(f"Nama produk 1: {nama_produk_1}\n")
print(f"Harga produk 1: {harga_produk_1}\n")
print(f"Nama produk 2: {nama_produk_2}\n")
print(f"Harga produk 2: {harga_produk_2}\n")
print(f"Status ketersediaan roti: {status_ketersediaan_roti}")

Nama produk 1: Kopi Pagi

Harga produk 1: 18000.5

Nama produk 2: Roti Cokelat

Harga produk 2: 10000

Status ketersediaan roti: True

TUGAS 2

In [2]:
jumlah_kopi_str = input("Masukkan jumlah pesanan kopi: ")
print()
jumlah_roti_str = input("Masukkan jumlah pesanan roti: ")
print()

print(f"Tipe data awal jumlah kopi: {type(jumlah_kopi_str)}\n")
print(f"Tipe data awal jumlah roti: {type(jumlah_roti_str)}\n")

jumlah_kopi_int = int(jumlah_kopi_str)
jumlah_roti_int = int(jumlah_roti_str)

print(f"Tipe data setelah konversi (kopi): {type(jumlah_kopi_int)}\n")
print(f"Tipe data setelah konversi (roti): {type(jumlah_roti_int)}")

Masukkan jumlah pesanan kopi: 2

Masukkan jumlah pesanan roti: 2

Tipe data awal jumlah kopi: <class 'str'>

Tipe data awal jumlah roti: <class 'str'>

Tipe data setelah konversi (kopi): <class 'int'>

Tipe data setelah konversi (roti): <class 'int'>

TUGAS 3

In [ ]:
harga_kopi = 18000.5
harga_roti = 10000

total_harga_kopi = harga_kopi * jumlah_kopi_int
total_harga_roti = harga_roti * jumlah_roti_int

total_belanja = total_harga_kopi + total_harga_roti

uang_bayar = 50000
kembalian = uang_bayar - total_belanja

print(f"Total harga kopi: {total_harga_kopi}\n")
print(f"Total harga roti: {total_harga_roti}\n")
print(f"Total belanja keseluruhan: {total_belanja}\n")
print(f"Uang yang dibayarkan: {uang_bayar}\n")
print(f"Kembalian: {kembalian}")

TUGAS 4

In [ ]:
try:
    nama_produk_1
except NameError:
    nama_produk_1 = "Kopi Pagi"

try:
    total_harga_kopi
except NameError:
    harga_kopi = 18000.5
    jumlah_kopi_int = 2
    total_harga_kopi = harga_kopi * jumlah_kopi_int

nama_pelanggan = input("Masukkan nama pelanggan: ")

pesan_terima_kasih = "Terima kasih, " + nama_pelanggan + " sudah berbelanja di Coffee Shop Bahagia!"

garis = "*" * 25
print(garis)
print()
print(pesan_terima_kasih)
print()
print(garis)
print()

print(f"Total harga {nama_produk_1} adalah Rp{total_harga_kopi}")